@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  background: white;
}

.App {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-size: 16px;
  color: black;
}

button {
  font-family: 'Inconsolata', monospace;
  background: none;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.25s;
  padding: 0.2rem 0.6rem;
  outline: none;
}

.nmoerror-width-limit {
  position: relative;
  width: 70%;
  margin: auto;
  display: flex;
}

/**
  KEYFRAMES
*/

@keyframes mini-bubble-float {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(-1rem, 0.5rem, 0) scale(1.2);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes tiny-bubble-float {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(1rem, -0.5rem, 0) scale(0.9);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes float-vertical {
  0% {
    transform: translate3d(0, 0, 0) rotate(10deg);
  }
  50% {
    transform: translate3d(0, 1rem, 0) rotate(10deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(10deg);
  }
}

@keyframes rotate-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes nmoerror-modal-appear {
  from {
    transform: translate3d(-50%, -50%, 0) scale(0.9);
    opacity: 0.8;
  }
  to {
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 1;
  }
}
